<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言</title>
</head>
<body>
<!-- 注释 -->
<h3> 用户留言 </h3><br>
<!-- method：POST/GET -->
<form action="/online/save/" method="GET">
    <label>用户:</label><input type = "text" name="username"/> <br><br>
    <label>标题:</label><input type = "text" name= "title" /><br><br>
    <!--<label>内容:</label><input type = "text" name = "content"></input><br><br> -->
    <label>内容:</label><textarea name = "content"></textarea><br><br>
    <input type = "submit" value="提交"/>
</form>


</body>
</html>
